
body, h1, h2, h3, h4, p, ul, li {
    margin: auto;
    max-width: 600px;
list-style: none;
}

.wrapper{
    text-align: center;
    margin: auto;
    max-width: 600px;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8a9a9; 
    color: #000;
    line-height: 1.6;
}


header {
    background-color: #f9c784;
    padding: 20px;
    max-width: auto;
}

header h1 {
    font-size: 28px;
    color: #000;
}

header p {
    font-weight: bold;
    margin-bottom: 10px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: blue;
    text-decoration: underline;
    list-style: none;
    margin: 0%;
}


main {
    background-color: #d58fc4; 
    padding: 0;
    margin: auto;
    max-width: 600px;
    max-height: fit-content;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 8px;
    color: #000;
}

p {
    margin-bottom: 10px;
}


aside {
    background-color: #d58fc4; 
    margin-top: 30px;
    margin-bottom: auto;
}

aside h4 {
    margin-bottom: 30px
}